$someBlue: #2A96B1;
$someGray: #999999;
$someDarkerGray: #CCCCCC;
$someLigherGray: #F1F1F1;
$headerPadding: 3.5rem;

@font-face 
{
    font-family: "LatoLatin";
    /* IE9 Compat Modes */
    src: url("../fonts/LatoLatin-Bold.eot");
    /* IE6-IE8 */
    src: url("../fonts/LatoLatin-Bold.eot?#iefix") format("embedded-opentype"),
        /* Modern Browsers */
        url("../fonts/LatoLatin-Bold.woff") format("woff"), 
        url("../fonts/LatoLatin-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face 
{
    font-family: "LatoLatinHair";
    src: url("../fonts/LatoLatinHair-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/LatoLatinHair-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../fonts/LatoLatinHair-Regular.woff") format("woff"), /* Modern Browsers */
         url("../fonts/LatoLatinHair-Regular.ttf") format("truetype"); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

html, body, p
{
    margin: 0;
    padding: 0;
    font-family: "LatoLatinHair";
    font-weight: inherit;
    font-style: inherit;
    font-size: 14pt;
}

body
{
    background-color: #FCFEFD;
}

a:link, a:visited, a:active, a:hover
{
    text-decoration: none;
    color: inherit;
}

section
{
    position: relative;
}

h1
{
    font-family: "LatoLatin";
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-bottom: $headerPadding;
}

// Let"s try bullshit classes this time

.blue-element
{
    background-color: $someBlue;
    padding: 1rem 2rem;
}

.otherSections
{
    padding: $headerPadding 9em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
}

.bottomMe
{
    margin-bottom: $headerPadding;
}

.workImages
{
    & img
    {
        margin: .5em;
        border: 1px $someBlue solid;
    }
    
    & a
    {
        display: inline-block;
        height: 100%;
        margin-bottom: 3em;
        font-weight: 400;
        
    }
    
    & span
    {
        display: block;
        text-align: left;
        color: #D46B4E;
        margin-left: .5em;
    }
}

.whiteSection
{
    color: $someBlue;
}

.darkGraySection
{
    background-color: $someDarkerGray;
}

.lightGraySection
{
    background-color: $someLigherGray;
}

.textBlob
{
    line-height: 2rem;
}

.initialBlurb
{
    position: absolute;
    bottom: 2em;
    margin-left: 10.8rem;
    display: block;
    width: 30rem;
    
    p
    {
        font-size: 1rem;
    }
    
    p:first-of-type
    {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
}

.nameAnchor
{
    &:after
    {
        content: ".";
        font-weight: 700;
    }
}

.grayLinks a
{
    color: $someGray;
    margin-right: 2em;
}

.white
{
    & span
    {
        font-family: "LatoLatin";
        font-weight: bold;
    }
    
    color: white;
    font-weight: 100;
}

.lowercase
{
    text-transform: lowercase;
}

.uppercase
{
    text-transform: uppercase;
}

.flexRow
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.halfColumns
{
    div
    {
        flex: 0 0 50%;
    }
}

.fullImageBackground
{
    background-image: url("../images/tryMe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height:100%;
    width: 100%;
    // http://pacoup.com/2011/06/12/list-of-true-169-resolutions/
    height: 432px;
}

.flexThird
{
    flex-grow: 3;
}

.textAlignRight
{
    text-align: right;
}