$babyBlue: #00CCFF;
$someGray: #F5F5F5;
$orange: #FF6633;

html, body, ul, h1
{
    padding: 0;
    margin: 0;
}

html
{
    background-color: $someGray;
}

body
{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 16pt;
}

header
{
    background-image: url("/images/BlueShape_1.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 5rem;
    height: 1000px;
}

a:link, a:visited, a:hover, a:active
{
    color: inherit;
    text-decoration: none;
}

nav
{
    font-size:  4.3rem;
}

ul
{
    list-style: none;
}

/* Classes follow */
.orangeHeaders
{
    text-transform: uppercase;
    color: $orange;
}

.typicalSection
{
    padding-bottom: 220px;
}

.arrowHover:hover:after
{
    content: url("../images/hoverArrow.svg");
    width: 100px;
    display: inline;
    position: absolute;
    margin-top: -.8rem;
    margin-left: 1rem;
}

.flexColumnCenter
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexrow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.siteHeader
{
    font-weight: bold;
    font-size: 6.25rem;
    text-transform: uppercase;
    color: $babyBlue;
    margin-bottom: 40px;
}

.lower
{
    text-transform: lowercase;
}

.bold
{
    font-weight: bold;
}

.work
{
    & img
    {
        height: 219px;
        width: 290px;        
    }
}

.workImages
{
    display: flex;
    flex: 0 0 950px;
    flex-direction: row;
    flex-flow: row wrap;
    margin-left: 50px;
}

.words
{
    font-weight: 200;
    font-size: 5.625rem;

    &::before
    {
        content: ".";
        margin: 0 .1em;
    }
}
