doctype html
html(lang="en")
head
    meta(charset="utf-8")
    title Sadly Professional
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,900,300")
    link(rel="stylesheet", href="css/master.min.css")
body